@model WEB_153503_Tatarinov.Domain.Models.ListModel<Product>

@{
    ViewData["Title"] = "Index";

    var categories = ViewData["categories"] as List<Category>;
    var selectedCategory = ViewData["selectedCategory"] as Category;
    
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
    
    int prev = Model.CurrentPage == 1 ? 1 : Model.CurrentPage - 1;
    int next = Model.CurrentPage == Model.TotalPages ? Model.TotalPages : Model.CurrentPage + 1;
}

<h1>Сonfectionery</h1>
<div class="row">
    
    <!-- Выбор категории -->
    <div class="col-2">
        <ul class="nav ">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   data-bs-toggle="dropdown"
                   href="#"
                   role="button"
                   aria-expanded="false">@(selectedCategory?.Name ?? "ALL")
                </a>
    
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item"
                           asp-controller="product"
                           asp-route-category=@null>All</a>
                    </li>
                    @foreach (var item in categories!)
                    {
                        <li>
                            <a class="dropdown-item"
                               asp-controller="product"
                               asp-route-category="@item.NormalizedName">
                                @item.Name
                            </a>
                        </li>
                    }
                </ul>
            </li>
        </ul>
    </div>
    <!-- Выбор категории -->
    
    <div id="output" class="row">
        <partial name="_ProductPartial"
                 model="new { Model.Items, Model.CurrentPage, Model.TotalPages, 
    CategoryNormalizedName = selectedCategory?.NormalizedName }" />
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('#output').on('click', '.page-link', function (event) {
                event.preventDefault();
                let url = $(this).attr('href');
                $('#output').load(url);
                history.pushState(null, null, url);
            });
        });
    </script>
}


