@page
@model WEB_153503_Tatarinov.IdentityServer.Pages.ExternalLogin.Challenge

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>

</div>
</body>
</html>