
@{
    var controller = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower() ?? String.Empty;
}

<div class="navbar-nav">
    <a asp-controller="Home" asp-action="Index" class="nav-item nav-link @(controller=="home"?"active":"")">Lab_1</a>
    <a asp-controller="Product" asp-action="Index" class="nav-item nav-link @(controller=="product"?"active":"")">Catalog</a>
    <a asp-area="Admin" asp-page="/Index" class="nav-item nav-link">Administration</a>
</div>